apiVersion: k8s.otterize.com/v1alpha1
kind: KafkaServerConfig
metadata:
  name: kafkaserverconfig-sample
  namespace: http-server-test
spec:
  service:
    name: kafka
  addr: kafka-tls-0.kafka-tls-headless.default.svc.cluster.local:9092
  autoCreateIntentsForOperator: true
  tls:
    certFile: /etc/tls/svid.pem
    keyFile: /etc/tls/key.pem
    rootCAFile: /etc/tls/bundle.pem
  topics:
    - topic: "orders"
      pattern: literal
      clientIdentityRequired: true
      intentsRequired: true
    - topic: "payments"
      pattern: literal
      clientIdentityRequired: true
      intentsRequired: false
    - topic: "customers-"
      pattern: prefix
      clientIdentityRequired: false
      intentsRequired: false
