apiVersion: otterize.com/v1alpha1
kind: KafkaServerConfig
metadata:
  name: kafkaserverconfig-sample
spec:
  serverName: kafka
  addr: kafka-tls-0.kafka-tls-headless.default.svc.cluster.local:9092
  tls:
    certFile: /etc/spifferize/svid.pem
    keyFile: /etc/spifferize/key.pem
    rootCAFile: /etc/spifferize/bundle.pem
