---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: clientintents.k8s.otterize.com
spec:
  group: k8s.otterize.com
  names:
    kind: ClientIntents
    listKind: ClientIntentsList
    plural: clientintents
    singular: clientintents
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ClientIntents is the Schema for the intents API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IntentsSpec defines the desired state of ClientIntents
            properties:
              calls:
                items:
                  properties:
                    name:
                      type: string
                    resources:
                      items:
                        properties:
                          methods:
                            items:
                              enum:
                              - GET
                              - POST
                              - PUT
                              - DELETE
                              - OPTIONS
                              - TRACE
                              - PATCH
                              - CONNECT
                              type: string
                            type: array
                          path:
                            type: string
                        required:
                        - methods
                        - path
                        type: object
                      type: array
                    topics:
                      items:
                        properties:
                          name:
                            type: string
                          operations:
                            items:
                              enum:
                              - all
                              - consume
                              - produce
                              - create
                              - alter
                              - delete
                              - describe
                              - ClusterAction
                              - DescribeConfigs
                              - AlterConfigs
                              - IdempotentWrite
                              type: string
                            type: array
                        required:
                        - name
                        - operations
                        type: object
                      type: array
                    type:
                      enum:
                      - http
                      - kafka
                      type: string
                  required:
                  - name
                  type: object
                type: array
              service:
                properties:
                  name:
                    type: string
                required:
                - name
                type: object
            required:
            - calls
            - service
            type: object
          status:
            description: IntentsStatus defines the observed state of ClientIntents
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
