---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha2-clientintents
  failurePolicy: Fail
  matchPolicy: Exact
  name: clientintents.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - clientintents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1-clientintents
  failurePolicy: Fail
  matchPolicy: Exact
  name: clientintentsv1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clientintents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha3-clientintents
  failurePolicy: Fail
  matchPolicy: Exact
  name: clientintentsv1alpha3.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha3
    operations:
    - CREATE
    - UPDATE
    resources:
    - clientintents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v2alpha1-clientintents
  failurePolicy: Fail
  matchPolicy: Exact
  name: clientintentsv2alpha1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v2alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - clientintents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha3-mysqlserverconfig
  failurePolicy: Fail
  matchPolicy: Exact
  name: mysqlserverconfig.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha3
    operations:
    - CREATE
    - UPDATE
    resources:
    - mysqlserverconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1-mysqlserverconfig
  failurePolicy: Fail
  matchPolicy: Exact
  name: mysqlserverconfigv1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mysqlserverconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v2alpha1-mysqlserverconfig
  failurePolicy: Fail
  matchPolicy: Exact
  name: mysqlserverconfigv2alpha1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v2alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - mysqlserverconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha3-postgresqlserverconfig
  failurePolicy: Fail
  matchPolicy: Exact
  name: postgresqlserverconfig.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha3
    operations:
    - CREATE
    - UPDATE
    resources:
    - postgresqlserverconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1-postgresqlserverconfig
  failurePolicy: Fail
  matchPolicy: Exact
  name: postgresqlserverconfigv1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - postgresqlserverconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v2alpha1-postgresqlserverconfig
  failurePolicy: Fail
  matchPolicy: Exact
  name: postgresqlserverconfigv2alpha1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v2alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - postgresqlserverconfigs
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha2-protectedservice
  failurePolicy: Fail
  matchPolicy: Exact
  name: protectedservice.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - protectedservice
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1-protectedservice
  failurePolicy: Fail
  matchPolicy: Exact
  name: protectedservicev1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1
    operations:
    - CREATE
    - UPDATE
    resources:
    - protectedservice
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha3-protectedservice
  failurePolicy: Fail
  matchPolicy: Exact
  name: protectedservicev1alpha3.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha3
    operations:
    - CREATE
    - UPDATE
    resources:
    - protectedservice
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v2alpha1-protectedservice
  failurePolicy: Fail
  matchPolicy: Exact
  name: protectedservicev2alpha1.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v2alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - protectedservice
  sideEffects: None
