---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  creationTimestamp: null
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha2-clientintents
  failurePolicy: Fail
  name: clientintents.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - clientintents
  sideEffects: None
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-k8s-otterize-com-v1alpha2-protectedservice
  failurePolicy: Fail
  name: protectedservice.kb.io
  rules:
  - apiGroups:
    - k8s.otterize.com
    apiVersions:
    - v1alpha2
    operations:
    - CREATE
    - UPDATE
    resources:
    - protectedservices
  sideEffects: None
