---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - patch
  - update
- apiGroups:
  - k8s.otterize.com
  resources:
  - intents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.otterize.com
  resources:
  - intents/finalizers
  verbs:
  - update
- apiGroups:
  - k8s.otterize.com
  resources:
  - intents/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - k8s.otterize.com
  resources:
  - kafkaserverconfigs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - k8s.otterize.com
  resources:
  - kafkaserverconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - k8s.otterize.com
  resources:
  - kafkaserverconfigs/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - networking.k8s.io
  resources:
  - networkpolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
