name: Build
concurrency:
  group: "${{ github.repository }}${{ github.ref }}"
  cancel-in-progress: true

on:
  pull_request:
    types:
      - opened
      - synchronize
  push:
    branches:
      - main

env:
  REGISTRY: us-central1-docker.pkg.dev/main-383408/otterize

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - intents-operator

    steps:
      - name: Check out the code
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Make sure diff is empty after generate
        run: |
          cd src/operator && make generate
          git diff --exit-code

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@master
        with:
          driver-opts: network=host

      - name: Login to GCR
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: _json_key_base64
          password: ${{ secrets.B64_GCLOUD_SERVICE_ACCOUNT_JSON}}
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: otterize
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Test
        uses: docker/build-push-action@v2
        with:
          context: src/
          file: src/${{ matrix.service }}.Dockerfile
          tags: ${{ env.REGISTRY }}/${{ matrix.service }}:${{ github.sha }}
          push: true
          network: host
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: |
            "VERSION=${{ github.run_id }}"

  netpol-e2e-test:
    uses: ./.github/workflows/netpol-e2e-test.yaml
    name: Trigger e2e tests
    # Must pass the secrets as the called workflow does not have access to the same context
    secrets:
      OTTERIZEBOT_GITHUB_TOKEN: ${{ secrets.OTTERIZEBOT_GITHUB_TOKEN }}
      B64_GCLOUD_SERVICE_ACCOUNT_JSON: ${{ secrets.B64_GCLOUD_SERVICE_ACCOUNT_JSON }}

    with:
      operator-tag: ${{ github.sha }}
      watcher-tag: ${{ github.sha }}

    needs:
      - build

  tag-latest-dev:
    name: Tag latest
    if: github.ref == 'refs/heads/main'
    needs:
      - build
      - netpol-e2e-test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: GCP auth
        uses: 'google-github-actions/auth@v1'
        with:
          credentials_json: ${{ secrets.B64_GCLOUD_SERVICE_ACCOUNT_JSON }}

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v1'

      # Push the Docker image to AWS ECR
      - name: Tag Images as latest
        run: |-
          retag_image_as_latest() { if [[ $(gcloud container images add-tag "${{ env.REGISTRY }}/$1:${{ github.sha }}" "${{ env.REGISTRY }}/$1:latest" --quiet) ]]; then echo "Failed tagging $1 as latest"; exit 1; fi } # using --quiet to avoid prompt
          retag_image_as_latest intents-operator
          retag_image_as_latest watcher
