name: E2E Test # this test is based on this tutorial: https://docs.otterize.com/quick-tutorials/k8s-network-policies
on:
  workflow_call: # To support triggering from another workflow (build.yaml)
    # When triggering a workflow from another workflow the triggered workflow does not have access to any secrets,
    # and they must be passed from the caller
    secrets:
      OTTERIZEBOT_GITHUB_TOKEN:
        required: true
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true

    inputs:
      operator-tag:
        required: true
        type: string
      watcher-tag:
        required: true
        type: string


env:
  REGISTRY: 353146681200.dkr.ecr.us-east-1.amazonaws.com
  REPOSITORY_NAME: otterize


jobs:
  e2e-test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          submodules: recursive
          token: ${{ secrets.OTTERIZEBOT_GITHUB_TOKEN }} # required for checking out submodules

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Set up Helm
        uses: azure/setup-helm@v3

      - name: Start minikube
        uses: medyagh/setup-minikube@master
        with:
          start-args: "--network-plugin=cni --cni=calico"

      - name: Wait for Calico startup
        run: |-
          kubectl wait pods -n kube-system -l k8s-app=calico-kube-controllers --for condition=Ready --timeout=90s
          kubectl wait pods -n kube-system -l k8s-app=calico-node --for condition=Ready --timeout=90s
          kubectl wait pods -n kube-system -l k8s-app=calico-kube-controllers --for condition=Ready --timeout=90s

      - name: Install Otterize
        run: |-
          docker pull ${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ inputs.operator-tag }}
          minikube image load ${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ inputs.operator-tag }}
          docker pull ${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ inputs.watcher-tag }}
          minikube image load  ${{ env.REGISTRY }}/${{ env.REPOSITORY_NAME }}:${{ inputs.watcher-tag }}
          
          OPERATOR_FLAGS="--set-string intentsOperator.operatoroperator.repository=${{ env.REGISTRY }} --set-string intentsOperator.operator.image=${{ env.REPOSITORY_NAME }} --set-string intentsOperator.operator.tag=${{ inputs.operator-tag }} --set-string intentsOperator.operator.pullPolicy=Never"
          WATCHER_FLAGS="--set-string intentsOperator.watcher.repository=${{ env.REGISTRY }} --set-string intentsOperator.watcher.image=${{ env.REPOSITORY_NAME }} --set-string intentsOperator.watcher.tag=${{ inputs.watcher-tag }} --set-string intentsOperator.watcher.pullPolicy=Never"
          helm dep up ./helm-charts/otterize-kubernetes
          helm install otterize ./helm-charts/otterize-kubernetes -n otterize-system --create-namespace $OPERATOR_FLAGS $WATCHER_FLAGS


      - name: Deploy Tutorial services
        run: |-
          kubectl apply -f https://docs.otterize.com/code-examples/automate-network-policies/all.yaml

      - name: Wait for Otterize
        run: |-
          kubectl wait pods -n otterize-system -l app=otterize-network-sniffer --for condition=Ready --timeout=90s
          kubectl wait pods -n otterize-system -l app=otterize-network-mapper --for condition=Ready --timeout=90s

      - name: Wait for Tutorial services
        run: |-
          kubectl wait pods -n otterize-tutorial-npol -l app=client --for condition=Ready --timeout=90s
          kubectl wait pods -n otterize-tutorial-npol -l app=client-other --for condition=Ready --timeout=90s
          kubectl wait pods -n otterize-tutorial-npol -l app=server --for condition=Ready --timeout=90s

      - name: Before apply intents
        run: |-
          CLI1_POD=`kubectl get pod --selector app=client -n otterize-tutorial-npol -o json | jq -r ".items[0].metadata.name"`
          CLI2_POD=`kubectl get pod --selector app=client-other -n otterize-tutorial-npol -o json | jq -r ".items[0].metadata.name"`
          
          # using 14 because the log repeat itself every 14 lines
          kubectl logs --tail 14 -n otterize-tutorial-npol $CLI1_POD | grep "Hi, I am the server, you called, may I help you?"
          kubectl logs --tail 14 -n otterize-tutorial-npol $CLI2_POD | grep "Hi, I am the server, you called, may I help you?"

      - name: Apply intents and test connectivity
        run: |-
          CLI1_POD=`kubectl get pod --selector app=client -n otterize-tutorial-npol -o json | jq -r ".items[0].metadata.name"`
          CLI2_POD=`kubectl get pod --selector app=client-other -n otterize-tutorial-npol -o json | jq -r ".items[0].metadata.name"`
          
          kubectl apply -f https://docs.otterize.com/code-examples/automate-network-policies/intents.yaml
          sleep 10
          
          # should work because there is an applied intent
          kubectl logs --tail 14 -n otterize-tutorial-npol $CLI1_POD | grep "Hi, I am the server, you called, may I help you?"
          
          # should be blocked (using 3 because the log should repeat itself every 3 lines)
          kubectl logs --tail 3 -n otterize-tutorial-npol $CLI2_POD | grep "Hi, I am the server, you called, may I help you?"
          
      

      
