name: Build
concurrency:
  group: "${{ github.repository }}${{ github.ref }}-release"

on:
  release:
    types:
      - published

env:
  REGISTRY: 353146681200.dkr.ecr.us-east-1.amazonaws.com/otterize
  REPOSITORY_NAME: otterize

jobs:
  push-dockerhub:
    name: Push to Docker Hub
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: otterize
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push to Docker Hub
        run: |-
          docker pull ${{ env.REGISTRY }}:credentials-operator-${{ github.sha }}
          docker tag ${{ env.REGISTRY }}:credentials-operator-${{ github.sha }} otterize/credentials-operator:${{ github.ref_name }}
          docker tag ${{ env.REGISTRY }}:credentials-operator-${{ github.sha }} otterize/credentials-operator:latest
          docker push otterize/credentials-operator:${{ github.ref_name }}
          docker push otterize/credentials-operator:latest

  commit-latest-build-tag-to-helm-chart:
    name: Commit Latest Build Tag
    runs-on: ubuntu-latest
    needs: push-dockerhub
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          repository: "otterize/helm-charts"
          token: ${{ secrets.OTTERIZEBOT_GITHUB_TOKEN }}
          ref: main

      - name: Update appVersion in chart.yaml
        uses: mikefarah/yq@master
        with:
          cmd: yq -i '.appVersion = "${{ github.ref_name }}"' 'credentials-operator/Chart.yaml'

      - name: Setup git config
        run: |
          git config user.name "otterizebot"
          git config user.email "otterizebot@users.noreply.github.com"

      - name: Commit
        run: |
          git add --all
          git commit -m "Setting latest tag in credentials-operator helm chart repo to ${{ github.ref_name }}"
          git push origin HEAD

